/* line 1, ../sass/gitg.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #444;
}

/* line 7, ../sass/gitg.scss */
header {
  padding: 35px 0 20px;
}
/* line 10, ../sass/gitg.scss */
header .wrap {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}
/* line 16, ../sass/gitg.scss */
header .links {
  float: right;
  padding: 0;
  margin: 2px 0 0;
  text-decoration: none;
  list-style: none;
}
/* line 23, ../sass/gitg.scss */
header .links .linkleft {
  text-decoration: none;
}
/* line 29, ../sass/gitg.scss */
header .links li {
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
  list-style-type: none;
}
/* line 36, ../sass/gitg.scss */
header .links li a {
  text-decoration: none;
  color: #999;
}

/* line 44, ../sass/gitg.scss */
.full {
  line-height: 1.5;
}
/* line 47, ../sass/gitg.scss */
.full .articlehed {
  background-image: url("../img/index.svg");
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #aaa;
}
/* line 55, ../sass/gitg.scss */
.full .articlehed .wrap {
  position: relative;
  z-index: 2;
  padding: 50px 0;
  color: #fff;
  max-width: 960px;
  margin: 0 auto;
}
/* line 63, ../sass/gitg.scss */
.full .articlehed .wrap .icon-container {
  position: absolute;
  left: 15px;
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-right: 20px;
  width: 68px;
  height: 68px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 34px;
}
/* line 76, ../sass/gitg.scss */
.full .articlehed .wrap .icon-container .mega-octicon {
  line-height: 68px;
  font-size: 32px;
}
/* line 81, ../sass/gitg.scss */
.full .articlehed .wrap h1 {
  margin-bottom: 10px;
  margin-left: 105px;
  font-size: 48px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
}
/* line 92, ../sass/gitg.scss */
.full .wrap {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 15px;
}
/* line 97, ../sass/gitg.scss */
.full .wrap .toc-wrapper {
  float: right;
  width: 200px;
}
/* line 103, ../sass/gitg.scss */
.full .wrap .toc-wrapper .toc.js-toc li {
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}
/* line 109, ../sass/gitg.scss */
.full .wrap .toc-wrapper .toc.js-toc li a {
  font-weight: bold;
  text-decoration: none;
}
/* line 117, ../sass/gitg.scss */
.full .wrap .markdown-body.content-body {
  line-height: 1.7;
  overflow: hidden;
}
/* line 121, ../sass/gitg.scss */
.full .wrap .markdown-body.content-body p {
  margin: 15px 0;
}
/* line 137, ../sass/gitg.scss */
.full .wrap .markdown-body.content-body p img {
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #eee;
  margin-top: 8px;
  padding: 2px;
  box-sizing: border-box;
  max-width: 100%;
}
/* line 146, ../sass/gitg.scss */
.full .wrap .markdown-body.content-body p .emoji {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
